<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen 2
    </title>
   <style> 
    body {
        font-family: Arial, sans-serif;
        background-color: #ba7575; /* Color de fondo pastel */
        color: #333; /* Color de texto */
    }

    /* Estilos para el formulario */
    form {
        margin: 0 auto;
        max-width: 500px;
        padding: 20px;
        background-color: #d5f9a6; /* Color de fondo del formulario */
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    }

    input, select, button {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ff0000; /* Borde */
        border-radius: 5px;
    }

    button { 
    margin-top: 10px; /* Agrega un margen superior para mover el botón hacia abajo */
    padding: 3px;
    background-color: #ffffff; 
    color: #000000;
    cursor: pointer;n
}

label {
    font-weight: bold; /* Aplica negrita */
    font-family: 'Arial Black', sans-serif; /* Cambia la fuente */
}
    button:hover {
        background-color: #20b2aa; /* Color de fondo del botón al pasar el ratón */
    }

    /* Estilos para la tabla */
    table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        border: 1px solid #7c6363d1;
        text-align: left;
    }

    th {
        background-color: #000000; /* Color de fondo del encabezado de la tabla */
        color: #fff;
    }

    /* Estilos para los detalles del pago */
    .details {
        margin-top: 20px;
    }

    h1{
        color: rgb(67, 67, 199);
    }

    .details h5 {
        margin-bottom: 10px;
    }
</style>
</head>
<body>
    <%- include('partials/header.ejs') %>
        <%- include('partials/nav.ejs') %>
        <div>
            <% if(!isPost){ %>
            <form class="main-content" action="/pago" method="post">           
            <center>            
            <label for="noDocente">Num. Docente</label><input type="number" name="numdoc" class="numdoc" id="numdoc" placeholder="Numero del docente" required><br>
            <label for="nombre">Nombre</label><input type="text" class="nombre" name="nombre" id="nombre" placeholder="Nombre" required><br>
            <label for="domicilio">Domicilio</label><input type="text" class="domicilio" name="domicilio" id="domicilio" placeholder="Domicilio" required><br>
            <label for="nivel">Nivel</label><select name="nivel" id="nivel" required>
                <option value="1">Licenciatura o Ingenieria</option>
                <option value="2">Maestro en Ciencias</option>
                <option value="3">Doctor</option>
            </select><br>
            <label for="pagohorabase">Pago Hora Base</label> <input type="number"  name="pagohorabase" class="pagohorabase" id="pagohorabase" placeholder="Pago Hora Base" required><br>
            <label for="horasimpartidas">Horas Impartidas</label> <input type="number" name="horasimpartidas" class="horasimpartidas" id="horasimpartidas" placeholder="Horas Impartidas" required><br>
            <label for="canthijos">Cantidad de Hijos</label><select name="canthijos" id="canthijos" type="number" required>
                <option value="1">1 o 2</option>
                <option value="2">3 a 5</option>
                <option value="3">mas de 5</option>
            </select><br>
            <button id="enviar" name="enviar" type="submit"> Enviar informacion</button>
            <button id="limpiar" name="limpiar" type="reset">Limpiar</button>
        </center>
       </form>
        </div>
            <% } else { %>
                <div>
                    <table>
                        <tr>
                            <th scope="col">Num.Doc</th> <th scope="col"> Nombre</th> <th scope="col">Domicilio</th> <th scope="col">Nivel</th> <th scope="col">Pago Hora Base</th><th scope="col">Horas impartidas</th><th scope="col">Num. Hijos</th>
                        </tr>
                        <tr>
                            <td><%- numdoc %></td>   <td><%- nombre %></td>   <td><%- domicilio %></td>   <td><%- nivel %></td> <td><%- pagohorabase %></td>   <td><%- horasimpartidas %></td>   <td><%- canthijos %></td>
                        </tr>
                    </table>
            
                    <h1>Detalles del Pago</h1>
                    <h5>Pago Por Horas Impartidas: $ <%- pagoxhora %></h5> <br>
                    <h5>Pago por Bonos: $ <%- bono %></h5>    <br>
                    <h5>Pago Impuesto:  $ <%- impuesto %></h5>  <br>
                    <h5>Total a pagar: $ <%- pagoTotal %></h5>  <br>
                </div>
            <% } %>
    <%- include('partials/footer.ejs') %>
</body>
</html>